/*
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

:root {
    --colorPrincipal: rgb(19, 54, 53);
    --colorPrincipalClaro: rgb(137, 216, 63);
    --colorPrincipalMedio: rgb(106, 168, 47);
}


/*GENERALES**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.remarcar {
    color: var(--colorPrincipalMedio);
}

.readonly {
    color: var(--colorPrincipalClaro)!important;
}

.remarcar-otro {
    color: var(--colorPrincipal);
}

.error {
    font-family: 'Oswald', sans-serif;
    color: rgb(250, 10, 10);
    text-align: center;
    margin-bottom: .5em;
}

.enlace {
    text-decoration: none;
    font-weight: bold;
    color: var(--colorPrincipalClaro);
    transition: color .3s ease;
}

.enlace:hover {
    color: var(--colorPrincipalMedio);
}

.boton {
    margin: 2rem auto 0;
    padding: .8em;
    cursor: pointer;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--colorPrincipalClaro);
    transition: all .3s ease;
    display: block;
}

.boton:hover {
    background-color: var(--colorPrincipalMedio);
}

.configuracion .formulario .botones-configuracion {
    font-size: .9rem;
    padding: .2rem .5rem;
    border-bottom: 0px;
    color: var(--colorPrincipal);
    background-color: #fff;
    border: 2px solid var(--colorPrincipal);
    font-weight: bold;
}

.configuracion .formulario .botones-configuracion:hover {
    background-color: var(--colorPrincipal);
    color: #fff;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2em;
    padding: 0 0 1.5em;
    color: #000;
}


/******HEADER******/

.contenido {
    width: 95%;
    margin: auto;
}

.barra-inicio {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.logo a {
    text-decoration: none;
    color: var(--colorPrincipal);
}

.logo {
    text-transform: uppercase;
    padding: .4rem;
    border-radius: 10px;
    font-family: 'Schoolbell', cursive;
    font-size: .7rem;
}

.logo span {
    text-transform: lowercase;
    color: var(--colorPrincipalClaro);
}

.menu {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 15vh;
    z-index: 5;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.90);
}

.menu li {
    padding: 1.1rem;
    transition: all .3s ease;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

.menu li i {
    margin-right: 1em;
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.048);
}

.menu li:hover>a {
    color: var(--colorPrincipalClaro);
}

.menu-movil {
    color: var(--colorPrincipal);
    font-size: 1.6em;
    cursor: pointer;
}

.menu-movil img {
    width: 60px;
    margin-right: .3em;
    border-radius: 3px;
}

@media (min-width: 480px) {
    .logo {
        font-size: 1em;
    }
    .contenido {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .contenido {
        width: 90%;
        max-width: 1400px;
    }
    .barra {
        justify-content: center;
        flex-direction: column;
    }
    .menu {
        position: inherit;
        background-color: #fff;
        display: flex!important;
        justify-content: space-between;
    }
    .menu li {
        padding: 0;
        margin: .2rem;
    }
    .menu li:hover {
        background-color: transparent;
    }
    .menu li a {
        padding: .8rem;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s ease;
        color: var(--colorPrincipal);
    }
    .menu li a:hover {
        color: var(--colorPrincipalClaro);
    }
    .menu-movil {
        display: none;
    }
}


/**********MAIN***********/


/**Página de presentación inicial*/


/**Descripción*/

main {
    font-family: 'PT Sans', sans-serif;
    min-height: 76vh;
}

main .descripcion {
    position: relative;
    z-index: 1;
}

main .descripcion:before {
    content: "";
    position: absolute;
    background-image: url("../img/fondo-presentacion.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: .9;
    height: 85vh;
    width: 100%;
    z-index: -1;
}

.descripcion {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.contenido-descripcion h2 {
    color: #fff;
}

.contenido-descripcion p {
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    margin: 0 0 .7rem;
}

.contenido-descripcion a {
    text-decoration: none;
    font-weight: bold;
    color: var(--colorPrincipal);
}

@media (min-width: 990px) {
    .contenido-descripcion a {
        color: var(--colorPrincipalClaro);
    }
}


/**Iconos*/

.iconos h2 {
    margin: 1em 0 0;
}

.iconos>p {
    text-align: center;
    font-size: 1.4em;
}

.listado-iconos {
    text-align: center;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icono {
    margin-bottom: 2em;
}

.icono i {
    font-size: 3em;
    margin: .3em;
    color: var(--colorPrincipal);
}

.icono p {
    font-weight: bold;
    color: var(--colorPrincipalClaro);
}

@media (min-width: 768px) {
    .icono {
        width: 50%;
    }
    .listado-iconos {
        flex-direction: row;
    }
}


/**Galería imagenes*/

.galeria-imagenes {
    padding: 2em 0 4em;
    background-color: rgb(245, 245, 245);
}

.galeria h2 {
    padding: 1em 0;
    text-transform: uppercase;
}

.imagenes {
    display: flex;
    flex-direction: column;
}

.imagenes img {
    width: 100%;
    filter: sepia(20%);
    transition: filter .3s ease;
}

.imagenes img:hover {
    filter: sepia(0%);
}

@media (min-width: 480px) {
    .imagenes {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imagenes a {
        margin: 1%;
        width: 48%;
    }
}

@media (min-width: 990px) {
    .imagenes {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .imagenes a {
        margin: 1%;
        width: 31%;
    }
}


/**INICIO SESIÓN*/

.inicio-sesion {
    background-color: #fff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    .inicio-sesion {
        height: 80vh;
    }
}

.inicio-sesion h2 {
    font-size: 1.5em;
    color: var(--colorPrincipal);
}


/**REGISTRO USUARIOS*/


/**Registro paciente*/

.registro-usuario {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro-usuario h2 {
    color: var(--colorPrincipal);
    padding: 0;
}

.registro-usuario p {
    font-family: 'Oswald';
    text-align: center;
    padding: 1.5em;
    color: var(--colorPrincipal);
}


/**Registro empleado*/

.registro-empleado {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro-empleado h2 {
    color: var(--colorPrincipal);
    padding: 0;
}

.registro-empleado p {
    font-family: 'Oswald';
    text-align: center;
    padding: 1.5em;
    color: var(--colorPrincipal);
}

.formacion {
    display: none;
    flex-direction: column;
}


/**Formularios*/

.formulario {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.columna1,
.columna2 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .registro-usuario .formulario,
    .registro-empleado .formulario {
        width: 100%;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .columna1 {
        grid-column: 1 / 2;
    }
    .columna2 {
        grid-column: 2 / 3;
    }
    .registro-usuario .boton-submit,
    .registro-empleado .boton-submit {
        width: 400px;
        display: block;
        margin: 1em auto;
        grid-column: 1 / 3;
    }
}

.formulario legend {
    font-family: 'Oswald';
    text-align: center;
    margin: 1em;
    padding-bottom: .6em;
    color: var(--colorPrincipalMedio);
}

.formulario label,
.formulario input {
    margin-bottom: 1rem;
    color: var(--colorPrincipal);
}

.formulario label {
    font-weight: bold;
}

.formulario input:not(.boton-submit) {
    font-size: 1.2em;
    padding: .6rem 0;
    border: none;
    border-bottom: 1px solid var(--colorPrincipal);
}

.formulario input:focus {
    outline: 0px;
}

.formulario select {
    border: none;
    padding: .6em 0;
    outline: 2px solid var(--colorPrincipalMedio);
}

.formulario select:focus {
    outline: 2px solid var(--colorPrincipalClaro);
}

.formulario .boton-submit {
    margin-top: 2rem;
    padding: .8em;
    cursor: pointer;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--colorPrincipalClaro);
    transition: all .3s ease;
}

.formulario .boton-submit:hover {
    background-color: var(--colorPrincipalMedio);
}

.formulario .boton-extrecho {
    display: block;
    width: 50%;
    margin: 1rem auto 0;
}


/**Para el relleno y el texto de color del autocompletado*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000;
}


/*****DENTRO DE LA APLICACIÓN******/


/**PANEL PRINCIPAL/INICIO*/


/**Alertas y mensajes*/

.tablon-anuncios {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alerta-notificaciones,
.alerta-mensajes {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: .4em;
    margin: .3em;
}

.tablon-anuncios .alerta-notificaciones .enlace {
    font-size: 1.3rem;
}

.tablon-anuncios .nuevos-mensajes a {
    font-size: 1.3rem;
}

.alerta-mensajes .ver-todos {
    font-size: .8rem;
    padding: .2rem;
    color: var(--colorPrincipalMedio);
    cursor: pointer;
}

.ver-todos:hover {
    color: var(--colorPrincipalClaro);
}

.tablon-anuncios .enlace {
    font-size: .9rem;
}


/**Datos usuario*/

.datos {
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    padding: 2em;
    margin: .7em auto;
}

.datos h2 {
    padding-bottom: .5em;
}

.datos img {
    width: 150px;
    border-radius: 50%;
}

.datos .personales p {
    text-align: center;
    padding: .3em;
    color: var(--colorPrincipal);
}

.datos .personales span {
    font-size: 1.1rem;
    color: var(--colorPrincipalMedio);
}

@media (min-width: 680px) {
    .panel {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .datos {
        width: 40%;
        margin: 10px auto;
    }
    .tablon-anuncios {
        width: 60%;
        align-items: inherit;
        margin: 10px auto;
    }
}


/**SOLICITUD ASISTENCIA*/

.solicitud-asistencia {
    background-color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solicitud-asistencia h2 {
    padding-top: 1rem;
    color: var(--colorPrincipal);
}


/**Listado resultado trabajadores disponibles*/

.trabajadores-disponibles-listado {
    margin-bottom: 2rem;
}

.datos-trabajador-disponible {
    min-width: 310px;
    max-width: 500px;
    width: 90%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin: 0 auto 1.5rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-trabajador-disponible p {
    color: var(--colorPrincipal);
    margin: .5rem;
}

.datos-trabajador-disponible span {
    color: var(--colorPrincipalMedio);
}

.datos-trabajador-disponible img {
    margin-bottom: .5em;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

@media (min-width: 880px) {
    .trabajadores-disponibles-listado {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .datos-trabajador-disponible:nth-child(odd) {
        grid-column: 1 / span 1;
    }
    .datos-trabajador-disponible:nth-child(even) {
        grid-column: 2 / span 1;
    }
}

@media (min-width: 992px) {
    .trabajadores-disponibles-listado {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .datos-trabajador-disponible {
        margin: 1em!important;
    }
}


/**Solicitud enviada*/

.solicitud-enviada-informacion {
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensaje-solicitud {
    padding: 2em;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0px 0px 1px var(--colorPrincipal);
    animation-name: mensaje;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

.mensaje-solicitud h2 {
    padding: .5em!important;
    color: var(--colorPrincipal);
}

@keyframes mensaje {
    100% {
        transform: scale(1.1);
        background-color: rgb(253, 253, 253);
        box-shadow: 0px 0px 7px var(--colorPrincipal);
    }
}


/**NOTIFICACIONES*/

.notificaciones {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notificaciones h2 {
    margin-top: 1em;
    color: var(--colorPrincipal);
}

.notificaciones .solicitud {
    /*border: 1px solid var(--colorPrincipalClaro);*/
    padding: .7em;
    margin: 1em;
    width: 90%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solicitud p {
    padding: .3em;
    color: var(--colorPrincipalMedio);
    font-weight: bold;
}

.solicitud p span {
    color: var(--colorPrincipal);
}

.solicitud .formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solicitud .formulario input {
    padding: .3rem 0;
    width: 110px;
}

.formulario .aceptar:hover {
    background-color: var(--colorPrincipal);
}

.formulario .rechazar {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(184, 27, 27);
    color: rgb(184, 27, 27);
    font-weight: bold;
}

.formulario .rechazar:hover {
    background-color: rgb(184, 27, 27);
    color: #fff;
}

.solicitud p .rechazada {
    font-weight: bold;
    color: rgb(184, 27, 27);
}


/**CONTACTOS/MENSAJES*/

.contactos-mensajes {
    min-height: 70vh;
}

.contactos-mensajes a {
    cursor: pointer;
}

.contactos-mensajes h2 {
    color: var(--colorPrincipal);
}

.contenido-contactos {
    display: flex;
    flex-direction: column;
    min-height: 66vh;
}

.contenido-contactos h2 {
    padding-bottom: 2.5rem;
}

.contenido-contactos a {
    text-decoration: none;
}

.tarjeta-contacto {
    background-color: rgb(248, 248, 248);
    width: 90%;
    transition: ease .3s all;
}

.tarjeta-contacto:hover {
    background-color: rgb(252, 252, 252);
}

.datos .tarjeta-contacto {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: .5rem auto;
}

.tarjeta-contacto .imagen-listado-contacto {
    width: 65px;
    height: 65px;
    margin: 1rem;
}

.tarjeta-contacto .eti {
    font-size: 1.3rem;
    color: var(--colorPrincipalMedio);
}

.tarjeta-contacto p {
    font-size: 1rem;
    color: var(--colorPrincipal);
}

.tablon-mensajes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tablon-mensajes a {
    text-decoration: none;
    color: var(--colorPrincipalClaro);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(245, 245, 245);
    padding: .5em 1em;
    border-radius: 50px;
    transition: all .2s ease;
}

.tablon-mensajes a:hover {
    color: var(--colorPrincipalMedio);
    background-color: rgb(240, 240, 240);
}

.hilo-mensajes span {
    display: none;
}

.chat {
    font-family: 'Oswald', sans-serif;
    font-size: .8rem;
    position: absolute;
    top: 15vh;
    height: 80vh;
    width: 90%;
    padding-top: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(231, 231, 231);
    text-shadow: none!important;
    text-align: center;
}

.chat .cerrar {
    color: rgb(255, 0, 0);
    position: absolute;
    font-size: 4rem;
    top: -1.6rem;
    right: 1rem;
    cursor: pointer;
}

.chat .L {
    text-align: left;
    float: left;
    clear: both;
    margin: 2rem 0rem 0rem 1rem;
}

.chat .R {
    text-align: left;
    float: right;
    clear: both;
    margin: 2rem 2rem 1rem;
}

.conversacion-del-chat {
    height: 42vh;
    overflow: auto;
    margin-top: 1.4rem;
}

.mensaje-chat-envia {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.texto-mensaje {
    padding: 1rem;
    min-width: 90%;
    max-width: 90%;
    border: none;
    margin: 1rem auto;
    max-height: 5rem;
    min-height: 5rem;
}

.mensaje-chat-envia .boton {
    margin: .5rem auto 2rem;
}

.id-remota-para-mensajes {
    display: none;
}

@media (min-width: 680px) {
    .panel {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .contenido-contactos {
        width: 55%;
    }
    .tablon-mensajes {
        width: 60%;
    }
    .tarjeta-contacto p {
        font-size: 1.3rem;
        margin-left: .2rem;
    }
    .tarjeta-contacto .imagen-listado-contacto {
        width: 60px;
        height: 60px;
        margin: 1rem;
    }
    .chat .L {
        margin: 2rem 0rem 0rem 4rem;
    }
    .chat .R {
        margin: 2rem 7rem 1rem;
    }
}

@media (min-width: 920px) {
    .tarjeta-contacto {
        width: 60%;
    }
    .panel {
        min-height: 70vh;
    }
}


/**CONFIGURACIÓN*/

.configuracion {
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.configuracion h2 {
    color: var(--colorPrincipal);
    padding: 0;
}

.configuracion p {
    font-family: 'Oswald';
    text-align: center;
    padding: 1.5em;
    color: var(--colorPrincipal);
}

.configuracion .formulario-cambiar-foto .boton-foto {
    width: 150px;
}

.foto-perfil-form {
    margin: auto!important;
}

.file {
    border-bottom: 0px!important;
}

@media (min-width: 768px) {
    .configuracion .formulario,
    .configuracion .formulario {
        width: 100%;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    .formulario-cambiar-contrasenia {
        display: flex!important;
    }
    .columna1 {
        grid-column: 1 / 2;
    }
    .columna2 {
        grid-column: 2 / 3;
    }
    .configuracion .boton-submit,
    .configuracion .boton-submit {
        width: 400px;
        display: block;
        margin: 1em auto;
        grid-column: 1 / 3;
    }
}


/**CIERRE SESIÓN*/

.cierre-sesion {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/******FOOTER*******/

footer h3 {
    padding: 1em 0;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
}

.fondo-contacto-footer {
    background-color: var(--colorPrincipal);
}

.contacto-footer {
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contacto-footer .info-candidatos {
    font-size: 1em;
    padding: 0 0 1em;
    color: #fff;
}

.info-candidatos a {
    text-decoration: none;
    color: var(--colorPrincipalClaro);
}

.info-mail p {
    color: #fff;
    padding: 0 0 1em;
}

.redes-sociales ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

.redes-sociales li {
    padding: 0 1.5em 1em 0;
}

.redes-sociales a {
    color: #fff;
    font-size: 1.7em;
}

@media (min-width:687px) {
    footer h3 {
        text-align: center;
    }
    .contacto-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .info-candidatos {
        text-align: justify;
        width: 33%;
    }
    .redes-sociales {
        text-align: center;
        width: 33%;
    }
    .redes-sociales ul {
        justify-content: center;
    }
    .redes-sociales li {
        padding: 0 1em;
    }
    .info-mail {
        text-align: center;
        width: 33%;
    }
}

.fondo-copyright-footer {
    background-color: rgb(20, 20, 20);
}

.copyright-footer h3 {
    letter-spacing: 2px;
    font-size: .8em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: .4rem;
    border-radius: 10px;
    font-family: 'Schoolbell', cursive;
}

.copyright-footer h3 span {
    text-transform: lowercase;
}